// Defining custom variables for our theme
$primary: #b298bb;
$secondary: #f7b7c0;
$success: #00A96E;
$danger: #f8424b;
$warning: #FFBE00;
$info: #00B5FF;
$light: #F9FAFB;
$dark: #77848a;

// Importing Bootstrap
@import './bootstrap/bootstrap.scss';
