/* BASE TEMPLATE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar-brand {
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
}

.footer-buttons{
    margin-left: auto;
}

/* HOME PAGE */

.hero {
    display: grid;
    place-items: center;
    padding: 6rem;
}

.adverts {
    flex-grow: 1;
    padding: 1.5rem 2rem 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;
    align-items: stretch;
    row-gap: 2.5rem;
}

.ad-sort {
    position: relative;
    place-self: end;
    grid-column: 1 / -1;
    margin: 0 5.5rem 0 5.5rem
}

.ad-card {
    width: 18rem;
    max-height: 32rem;
}

.ad-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;    
}

.card-end {
    display: flex;
    align-items: flex-end;
}

.ad-button {
    margin-left: auto;
    place-self: end;
}

/* ADVERTISEMENT PAGE */

.custom-carousel {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    max-height: 50vh;
}

.custom-carousel-item {
	box-sizing: content-box;
	display: flex;
	flex: none;
	scroll-snap-align: start;
}

/* PERSONAL PAGE */
/* These classes mimick the ones from the homepage */
.landlord-adverts {
    flex-grow: 1;
    padding: 1.5rem 0 4rem 0;   /*Different side padding*/
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;
    align-items: stretch;
    row-gap: 2.5rem;
}

.landlord-ad-card {
    width: 18rem;
    max-height: 28rem;   /*Different max height*/
}

.new-ad-hero {
    display: grid;
    place-items: center;
    padding: 7rem 2rem 7rem 2rem;
}

.edit-ad-button {
    place-self: start;
}

.borderless-upper-row {
    border-bottom: transparent;
}

.borderless-lower-row {
    border-top: transparent;
}

.landlord-form-button{
    width: 8rem;
}

.landlord-form-text{
    width: 15rem;
}

/* ADD / EDIT ADVERTISEMENT */
.w-35 {
    width: 35%;
}