/* BASE TEMPLATE */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar-brand {
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
}

.footer-buttons{
    margin-left: auto;
}

/* HOME PAGE */

.hero {
    display: grid;
    place-items: center;
    padding: 5rem 6rem 6rem 5rem;
}

.adverts {
    padding: 1rem 2rem 6rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;
    height: 100%;
    flex-grow: 1;
}

.card {
    width: 15rem;
    height: fit-content;
}

.adButton {
    margin-left: auto
}