{% extends "base.html" %}
{% block title %}Chi siamo{% endblock %}
{% set title = 'about' %}

{% block content %}
<article class="container w-50 my-4">
  <h1>Benvenuti su renTO!</h1>
  <p>
    Se state cercando una casa in affitto a Torino, siete nel posto giusto. renTO è la piattaforma che vi aiuta a trovare
    la vostra casa ideale in modo facile e veloce.
  </p>
  <h2>Chi siamo</h2>
  <p>
    renTO è nato nel 2024 con l&#39;obiettivo di rivoluzionare il mercato degli affitti a Torino. Siamo un team di
    professionisti appassionati di immobili, tecnologia e innovazione. La nostra missione è rendere l&#39;affitto di
    case una procedura semplice, trasparente e conveniente.
  </p>
  <h2>Cosa facciamo</h2>
  <p>
    renTO vi offre una piattaforma online dove potete visionare le migliori offerte di case in affitto a Torino,
    ordinare i risultati in base alle vostre preferenze e prenotare le visite in pochi clic. Inoltre, vi mettiamo in
    contatto diretto con i proprietari, senza intermediari, per facilitare la comunicazione e la negoziazione.
  </p>
  <h2>Perché scegliere renTO</h2>
  <p>renTO vi offre numerosi vantaggi rispetto ai metodi tradizionali di affitto:</p>
  <ul>
    <li>
      Risparmiate tempo: non dovete più cercare tra migliaia di annunci, contattare le agenzie, aspettare le risposte e
      organizzare le visite. Con renTO, trovate la vostra casa in pochi minuti.
    </li>
    <li>
      Risparmiate denaro: non dovete pagare commissioni, spese di agenzia, caparre o cauzioni. Con renTO, l'unica spesa è
      una piccola quota di servizio a negoziazione conclusa.
    </li>
    <li>
      Scegliete con fiducia: tutte le case su renTO sono verificate, fotografate e descritte in modo accurato. Non dovrete
      temere truffe o brutte sorprese, garantiamo noi!
    </li>
  </ul>
  <h2>Come iniziare</h2>
  <p>Per iniziare a usare renTO, basta seguire questi semplici passi:</p>
  <ul>
    <li>
      Registrarsi: create il vostro account gratuito su renTO, inserendo i vostri dati personali e la vostra tipologia di profilo (cliente o locatore).
    </li>
    <li>
      Cercare: sfogliate il nostro ampio catalogo di inserzioni per trovare l'offerte ideale per i vostri gusti.
    </li>
    <li>
      Prenotare: scegliete la casa che vi piace di più e prenotate la visita online, scegliendo la data e l&#39;ora che
      più vi convengono.
    </li>
    <li>
      Visitare: recatevi alla casa al giorno e all&#39;ora stabiliti e incontrate il locatore, che vi mostrerà
      l&#39;immobile e vi darà tutte le informazioni necessarie. Potete anche visitare la casa in modo virtuale, direttamente dalla comodità del vostro salotto.
    </li>
    <li>
      Affittare: se la casa vi soddisfa, potete procedere con l&#39;affitto, firmando il contratto online e pagando il
      primo canone tramite renTO. Se invece non vi convince, potete continuare a cercare altre opzioni.
    </li>
  </ul>
  <h2>Contattaci</h2>
  <p>
    Se avete domande, dubbi o suggerimenti, non esitate a contattarci. Siamo sempre a vostra disposizione per assistervi
    e migliorare il nostro servizio. Potete raggiungerci tramite:
  </p>
  <ul>
    <li>Email: info@example.com</li>
    <li>Telefono: +39 011 090102</li>
  </ul>
  <p>
    Grazie per aver scelto renTO, la vostra compagnia di affitti a Torino. Speriamo di aiutarvi a trovare la vostra casa
    ideale!
  </p>
</article>
{% endblock %}
