{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set title = 'home' %}

{% block content %}

    <header class="hero bg-secondary-subtle text-content-secondary">
        <h1 class="fs-1">
            renTO
        </h1>
        <p>
            Il numero uno per gli affitti a Torino.
        </p>
    </header>

    <section class="adverts bg-secondary">
        {% for ad in advertisements %}
            <article class="card ad-card">
                <img src="/static/images/{{ad.image}}" class="card-img-top" alt="{{ad.title}}">
                <div class="card-body ad-body">
                    <h6 class="card-text text-dark mb-0">{{ad.title}}</h6>
                    <h5 class="card-title fs-6"><span class="fs-2">{{ad.rent}}</span> €/mese</h5>
                    <span class="card-text font-monospace">{{ad.adress}}</span>
                    <span class="card-text fst-italic">{{ad.type}} {{ ad.furniture }}, {{ad.rooms}} locali</span>
                    <span class="card-text ad-description my-3">{{ad.description}}</span>
                    <div class="card-end">
                      <a href="/advertisement/{{ad.id}}" class="btn btn-primary ad-button">Visualizza</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
