{% extends "base.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% set title = ad.title %}

{% block content %}
<article class="container w-50 my-4">
    <header class="row">
        <div class="col-md-9">
           <h2>{{ ad.title }}</h2>
           <h5>{{ ad.type }} {{ ad.furniture }} in {{ ad.adress }} - {{ad.rooms}} locali</h5>
        </div>
        <div class="col-md-3 text-right mt-auto">
           <h3>{{ ad.rent }} €/mese</h3>
        </div>
    </header>

    <form action="" class="mt-3">
        <label for="visitSelect">Quando vuoi visitare la proprietà?</label>
        <select id="visitSelect" name="visit" required onchange="updateDisplay()">
            <option selected disabled>Scegli una fascia oraria</option>
            {% for day in visit %}
            <optgroup label="{{day.date}}">
                {% for slot in day.slots %}
                <option value="{{slot.date}}@{{slot.pos}}">{{slot.time}}</option>
                {% endfor %}
            </optgroup>
            <hr />
            {% endfor %}
        </select>
    
        <section>
            Data della visita: <span id="visitSelectDate"><i>da scegliere</i></span>
            <br>
            Fascia oraria: <span id="visitSelectSlot"><i>da scegliere</i></span>
        </section>
    </form>
</article>
{% endblock %}

{% block inject %}
<script>
    function updateDisplay() {
        const selectElement = document.getElementById('visitSelect');   //Target <select> tag
        const selectedOption = selectElement.options[selectElement.selectedIndex];  // Extract selected option. Format: {value: 'DATE@INDEX'}

        const date = selectedOption.value.split('@')[0];    //Extract selected date
        const selectedText = selectedOption.text;           // Selected time slot

        const outputDate = document.getElementById('visitSelectDate');
        const outputSlot = document.getElementById('visitSelectSlot');
        outputDate.textContent = date;
        outputSlot.textContent = selectedText;
    }
</script>
{% endblock %}
