{% extends "base.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% set title = ad.title %}

{% block content %}
<article class="container w-50 my-4">
    <header class="row">
        <div class="col-md-9">
           <h2>{{ ad.title }}</h2>
           <h5>{{ ad.type }} {{ ad.furniture }} in {{ ad.adress }} - {{ad.rooms}} locali</h5>
        </div>
        <div class="col-md-3 text-right mt-auto">
           <h3>{{ ad.rent }} €/mese</h3>
        </div>
    </header>

    <form method="post" class="mt-4">
        <section class="row">
            <div class="col-md-6">
                <div><label for="visitSelect">Quando vuoi visitare la proprietà?</label></div>
    
                <select id="visitSelect" name="visit" required onchange="updateDisplay()">
                    <option value="" selected disabled hidden>Scegli una fascia oraria</option>
                    {% for day in visit %}
                        <optgroup label="{{day.date}}">
                            {% for slot in day.slots %}
                        <option value="{{slot.date}}@{{slot.pos}}">{{slot.time}}</option>
                        {% endfor %}
                    </optgroup>
                    <hr />
                    {% endfor %}
                </select>                            
            </div>
        
            <div class="col-md-6 d-flex justify-content-end">
                <div>
                    <h5>Data della visita</h5>
                    <span id="visitSelectDate"><i>da scegliere</i></span>
     
                    <h5>Fascia oraria</h5>
                    <span id="visitSelectSlot"><i>da scegliere</i></span>
                </div>
            </div>
        </section>

        <fieldset class="mb-3">
            <legend class="col-form-label">Come vuoi visitare la proprietà?</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="visitForm1" value="physical" checked>
                <label class="form-check-label" for="visitForm1">Di persona</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="visitForm2" value="virtual">
                <label class="form-check-label" for="visitForm2">Virtualmente</label>
            </div>
        </fieldset>

        <input id="submitButton" type="submit" value="Prenota visita" class="btn btn-primary mt-5">
    </form>
</article>
{% endblock %}

{% block inject %}
<script>
    // Update the "date" and "time slot" text elements on the page.
    function updateDisplay() {
        const selectElement = document.getElementById('visitSelect');   //Target <select>
        const selectedOption = selectElement.options[selectElement.selectedIndex];  // Extract selected option. Format: {value: 'DATE@INDEX'}

        const date = selectedOption.value.split('@')[0];    //Extract selected date
        const selectedText = selectedOption.text;           // Selected time slot

        const outputDate = document.getElementById('visitSelectDate');
        const outputSlot = document.getElementById('visitSelectSlot');
        outputDate.textContent = date;
        outputSlot.textContent = selectedText;
    }
</script>
{% endblock %}
